.container {
    max-width: 120rem;
    margin: 5rem auto;
    background-color: var(--grey-light-1);
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, .5);
    min-height: 50rem;

    @media screen and (max-width: 1200px) {
        margin: 0;
        max-width: 100%;
    }
}

.header {
    height: 7rem;
    background-color: #fff;
    // border-bottom: 1px solid var(--grey-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;

    @media screen and (max-width: 960px) {
        flex-wrap: wrap;
        height: 12rem;
     }
}

.content {
    display: flex;

    @media screen and (max-width: 960px) {
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    flex: 1;
    // remove later
    min-height: 80rem;
}

.detail {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--grey-light-1);
    padding: 4.5rem;
    // border-bottom: var(--border-line);
    font-size: 1.4rem;

    @media screen and (max-width: 960px) {
        padding: 3rem;
    }

    @media screen and (max-width: 660px) {
        flex-direction: column;
    }
}

.description {
    background-color: #fff;
    box-shadow: var(--light-shadow);
    flex: 0 0 60%;
    margin-right: 4.5rem;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media screen and (max-width: 960px) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media screen and (max-width: 660px) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
    
}

.user-reviews {
    flex: 1;
}